<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Android"
        tools:targetApi="31">
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AboutUsActivity"
            android:exported="true"></activity>
        <activity
            android:name=".activities.GameActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".activities.WinActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".activities.GameOverActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait" />
    </application>

</manifest>